<!DOCTYPE html>
<html>

<%- include('partials/head') %>

<body>

  <%- include('partials/header') %>

  <div class="container">
    <h1>All Posts</h1>

    <%- include('partials/posts', { posts: posts }) %>

  </div>

  <%- include('partials/footer') %>

</body>

</html>
